In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('Train.csv')

In [3]:
train.head()

   File_Name  Category
0  10846.jpg         1
1   2360.jpg         1
2  17531.jpg         0
3  13254.jpg         1
4  15554.jpg         0

In [5]:
train.Category.value_counts()

0    4747
1    4724
Name: Category, dtype: int64

In [7]:
train.sort_values('File_Name')

      File_Name  Category
8672  10001.jpg         1
6083  10002.jpg         0
8991  10003.jpg         1
2849  10004.jpg         0
6671  10006.jpg         0
...         ...       ...
5500   9991.jpg         0
592    9993.jpg         0
5658   9994.jpg         0
908    9995.jpg         0
4532   9998.jpg         0

[9471 rows x 2 columns]

In [16]:
import re
image_id = []

for name in train['File_Name']:
    temp = re.findall(r'\d+', name)
    x = list(map(int, temp))
    image_id.append(x[0])

In [14]:
image_id = list(map(int, image_id))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [18]:
train['image_id'] = image_id

In [21]:
train.sort_values('image_id')

      File_Name  Category  image_id
5486    111.jpg         1       111
1461    116.jpg         1       116
5645    186.jpg         1       186
5792    223.jpg         0       223
8408    275.jpg         0       275
...         ...       ...       ...
6502  22198.jpg         0     22198
4764  22227.jpg         1     22227
6943  22253.jpg         1     22253
4686  22300.jpg         0     22300
2329  22302.jpg         1     22302

[9471 rows x 3 columns]